body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.main-mech {
  width: 100%;
}

.main-mech .select-file {
  width: 100%;
}

.rikidrop {
  height: 90%;
}

.botonesGirar{
  height: 10%;
  width: 100%;
  border: cornsilk;
}

.botonesGirar .btn-group{
  width: 100%;
}

.rikidrop input {
  height: 100%;
}

.main-mech .updown {
  width: 50%;
}

.mitimiti {
  width: 50%;
  padding: 0rem 1rem;
}

.tunga {
  display: flex;
  min-width: 800px;
  margin-bottom: 10px;
}

.mitimiti textarea {
  text-align: left;
  height: 100%;
}
.btn.btn-secondary {
  background-color:#0084ff;
}

#botong {
  display: none;
}


.mitimiti .rikidrop,.mitimiti textarea {
  border: solid #0084ff;
  border-style: dashed;
}

img#logo {
  max-width: width 20rem; ;
}
