body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.main-mech {
  width: 100%;
}

.main-mech .select-file {
  width: 100%;
}

.main-mech .updown {
  width: 50%;
}

.mitimiti {
  width: 50%;
}

.tunga {
  display: flex;
}

.mitimiti textarea {
  text-align: center;
}
.btn.btn-secondary {
  background-color:#0084ff;
}