body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

#inImage {
  visibility: hidden;
}

.main-mech {
  width: 100%;
}

.main-mech .select-file {
  width: 100%;
}

.rikidrop {
  height: 100%;
}

.botonesGirar{
  height: 10%;
  width: 100%;
  border: cornsilk;
}

.botonesGirar .btn-group{
  width: 100%;
}

.main-mech .updown {
  width: 50%;
}

.mitimiti {
  width: 50%;
  padding: 0rem 2rem;
  height: 20rem;
}

.tunga {
  display: flex;
  min-width: 800px;
  margin-bottom: 10px;
}

.mitimiti textarea {
  text-align: left;
  height: 100%;
}
.btn.btn-secondary {
  background-color:#0084ff;

}

#botong {
  display: none;
  overflow: hidden;
  position: relative;
  bottom: 10%;
}


.mitimiti .divImg,.mitimiti textarea {
  height: 100%;
  outline: 2px dashed #9bcdfc;
  outline-offset: 10px;
}

.dragInactive {
  background-color: #e1eefa;
  border: hidden;
}

.dragHover {
  background-color: white;
  border: 2px dashed #e1eefa;
}

img#logo {
  max-width:20rem; 
}

.arras {
  margin: 0rem;
  padding: 0rem;
}

.botonesGirar {
  margin-bottom: 5rem;
}

#tuto {
  top: 31%;
  

}

.modal {
  position: fixed;
}
